<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DXApplication1.Properties.Settings.stok_takipConnectionString"
            connectionString="Data Source=DESKTOP-TM57CN0;Initial Catalog=stok_takip;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>